optgroup {
    margin-bottom: 0.6em;
}

select[multiple] {
    background-image: none;
}

.ace_editor {
    height: 500px;
    border: 1px solid lightgray;
}

aside {
    select[multiple] {
        height: 300px;
        width: 175px;
    }

    .criterion {
        float: left;
        margin-right: 10px;
    }
}
